params {
    submitter = null
}

process {
    cpus = 1
    memory = 250.MB
    // https://www.nextflow.io/docs/latest/process.html?highlight=resourcelabels#resourcelabels
    // https://docs.aws.amazon.com/batch/latest/userguide/using-tags.html
    // https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-restrictions
    // https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html
    // https://www.nextflow.io/docs/latest/script.html#implicit-variables
    // https://www.nextflow.io/docs/latest/metadata.html
    // need to use {} here for delayed evaluation during task execution
    resourceLabels  = {[
        fooLabel: "barValue",
        pipelineProcess: "${task.process}",
        pipelineTag: "${task.tag}",
        pipelineCPUs: "${task.cpus}",
        pipelineUser: "${workflow.userName}",
        pipelineSubmitter: "${params.submitter}",
        pipelineMemory: "${task.memory}",
        pipelineTaskAttempt: "${task.attempt}",
        pipelineContainer: "${task.container}",
        pipelineRunName: "${workflow.runName}",
        pipelineSessionId: "${workflow.sessionId}",
        pipelineResume: "${workflow.resume}",
        pipelineRevision: "${workflow.revision}",
        pipelineCommitId: "${workflow.commitId}",
        pipelineRepository: "${workflow.repository}",
        pipelineName: "${workflow.manifest.name}"
    ]}
}

// https://nextflow.io/docs/latest/config.html#scope-manifest
manifest {
    name            = 'workflow-introspection-demo'
    author          = 'Stephen Kelly'
    description     = 'Demo workflow script'
    mainScript      = 'main.nf'
}