params {
    submitter = null
}

process {
    // NOTE: enable these for AWS usage
    // executor = 'awsbatch'
    // queue = "spot-nf-job-queue"

    cpus = 1
    memory = 250.MB

    // https://www.nextflow.io/docs/latest/process.html?highlight=resourcelabels#resourcelabels
    // https://docs.aws.amazon.com/batch/latest/userguide/using-tags.html
    // https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-restrictions
    // https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html
    // https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/activating-tags.html
    // https://www.nextflow.io/docs/latest/script.html#implicit-variables
    // https://www.nextflow.io/docs/latest/metadata.html
    // need to use {} here for delayed evaluation during task execution
    resourceLabels  = {[
        fooLabel: "barValue",
        pipelineProcess: task.process.toString(),
        pipelineTag: task.tag.toString(),
        pipelineCPUs: task.cpus.toString(),
        pipelineUser: workflow.userName.toString(),
        pipelineSubmitter: params.submitter.toString(),
        pipelineMemory: task.memory.toString(),
        pipelineTaskAttempt: task.attempt.toString(),
        pipelineContainer: task.container.toString(),
        pipelineRunName: workflow.runName.toString(),
        pipelineSessionId: workflow.sessionId.toString(),
        pipelineResume: workflow.resume.toString(),
        pipelineRevision: workflow.revision.toString(),
        pipelineCommitId: workflow.commitId.toString(),
        pipelineRepository: workflow.repository.toString(),
        pipelineName: workflow.manifest.name.toString()
    ]}
}

// https://nextflow.io/docs/latest/config.html#scope-manifest
manifest {
    name            = 'workflow-introspection-demo'
    author          = 'Stephen Kelly'
    description     = 'Demo workflow script'
    mainScript      = 'main.nf'
}

