nextflow
*/work/*
*/output/*
.nextflow
.nextflow.log*
*.pyc
nextflow-report.html
timeline-report.html
trace.txt
flowchart.*
.Rproj.user/
*.Rproj
.DS_Store
.Rproj.user
*.simg
conda/*
*/conda/*
timeline.html
nextflow.html
dag.dot
dag.png
report.html
