import groovy.json.JsonSlurper

// params values that can be configured from the cli at run time
params.submitter = "user_foooo"
params.resourceLabels = "{}"

process {
    // NOTE: the x = {} syntax is assigning a closure to the value here ; closures get lazy-evaluated!
    resourceLabels  = {

        def default_labels = [
        // static label
        fooLabel: "barValue",

        // label from params value
        pipelineSubmitter: params.submitter.toString(),

        // dynamic from pipeline task
        pipelineProcess: task.process.toString(),
        pipelineTag: task.tag.toString(),
        pipelineCPUs: task.cpus.toString(),
        pipelineUser: workflow.userName.toString(),
        pipelineMemory: task.memory.toString(),
        pipelineTaskAttempt: task.attempt.toString(),
        pipelineContainer: task.container.toString(),
        pipelineRunName: workflow.runName.toString(),
        pipelineSessionId: workflow.sessionId.toString(),
        pipelineResume: workflow.resume.toString(),
        pipelineRevision: workflow.revision.toString(),
        pipelineCommitId: workflow.commitId.toString(),
        pipelineRepository: workflow.repository.toString(),
        pipelineName: workflow.manifest.name.toString()
    ]

    def jsonObj = new JsonSlurper().parseText(params.resourceLabels)

    def updated_labels = default_labels + jsonObj

    return updated_labels
    }
}



manifest {
    name            = 'resourceLabels-demo'
    author          = 'Stephen Kelly'
    description     = 'Demo workflow script'
    mainScript      = 'main.nf'
}