manifest {
    author = 'Stephen Kelly'
    homePage = 'https://github.com/stevekm/nextflow-demos'
    description = 'Nextflow programming demos'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow-report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-report.html"
}

executor.queueSize = 3

profiles {
    docker {
        docker.enabled = true
        process.$fastqc.container = "stevekm/ngs580-nf:fastqc-0.11.7"
    }
    phoenix {
        process.$fastqc.module = "fastqc/0.11.7"
        process.executor = "sge"
    }
}
