params {
    submitter = null
}

process {
    cpus = 1
    memory = 250.MB

    // NOTE: THIS DOES NOT ACTUALLY WORK EITHER
    // executor = 'awsbatch'
    // queue = "spot-nf-job-queue"
    resourceLabels  = {[
        fooLabel: "barValue",
        pipelineProcess: "${task.process}",
        pipelineCPUs: "${task.cpus}",
        pipelineUser: "${workflow.userName}",
        pipelineSubmitter: "${params.submitter}",
        pipelineName: "${workflow.manifest.name}"
    ]}
}

manifest {
    name            = 'workflow-introspection-demo'
    author          = 'Stephen Kelly'
    description     = 'Demo workflow script'
    mainScript      = 'main.nf'
}