// https://nextflow.io/docs/latest/executor.html#slurm
executor.queueSize = 5

// SLURM environment variables
// https://slurm.schedmd.com/sbatch.html#SECTION_OUTPUT-ENVIRONMENT-VARIABLES
params.SLURM_vars='SLURM_JOB_ID SLURM_JOB_NAME SLURM_JOB_NODELIST SLURM_JOB_PARTITION SLURM_MEM_PER_CPU SLURM_MEM_PER_NODE SLURM_PRIO_PROCESS SLURM_SUBMIT_DIR SLURM_SUBMIT_HOST SLURM_TASK_PID SLURMD_NODENAME'


process {
    executor = 'slurm'
    time = '4h'
    cpus = 2
    memory = { 8.GB * task.cpus }
    clusterOptions = '--ntasks-per-node=1 --export=NONE --export=NTHREADS --mem-bind=local'

    // print these to the .command.log file so that we can inspect the execution environment
    beforeScript = """
printf "USER: \${USER:-none}\\nHOSTNAME: \${HOSTNAME:-none}\\nPWD: \$PWD\\nNTHREADS: \${NTHREADS:-none}\\n";
for item in ${params.SLURM_vars}; do printf "\${item}: \${!item:-none}\\n"; done;
echo "-----"
TIMESTART=\$(date +%s);
    """
    // add a sleep so we can see that some time has elapsed
    afterScript = """
sleep 3
echo "-----"
printf "elapsed time: %s\\n" \$((\$(date +%s) - \${TIMESTART:-0}));
    """
}

timeline {
    enabled = true
    overwrite = true
    file = "timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file = "dag.png"
}
