params {
    outdir = "output"
}

workDir = "s3://my-bucket/work"

aws {
    region = 'us-east-1'
    batch {
        cliPath = "/home/ec2-user/miniconda/bin/aws"
    }
}

process {
    cache = 'lenient'
    executor = 'awsbatch'
    queue = "My-AWS-Batch-Queue"
    cpus = 2
    memory = { 1.GB * task.attempt }
}
