process {
    withName: DO_SOMETHING {
            memory = {
                // check if a value was provided with the input
                if (meta.memOverride == true){
                    return meta.memOverrideVal * 1.MB
                }

                // check if we have a number of reads
                if ( meta.reads ){
                    return meta.reads * 1.MB
                }

                // default value
                return 5.MB
                }
        }
}