report {
    enabled = true
    file = "report.html"
}
timeline {
    enabled = true
    file = "timeline.html"
}

profiles {
    standard {
        // the default profile, runs locally
        process{
            executor = 'local'
        }
    }
    lsf {
        // runs the tasks on the LSF scheduler
        executor {
            name = "lsf"
            queueSize = 25 // no more than 25 HPC jobs running at a time
            clusterOptions = '-R "rusage[mem=16]"'
            }
        process {
            time = 1.h
        }
    }
}
