params {
    local_val = "foo1"
    remote_val = null
    remote_s3_val = null
}


// for public git repository
includeConfig "https://raw.githubusercontent.com/stevekm/nextflow-demos/master/S3-GitHub-configs/remote.config"

// for private git repository
// includeConfig 'https://raw.githubusercontent.com/some-gitrepository/nextflow-test/master/remote.config?token=git_random_token'

// for s3 bucket
// includeConfig 's3://some-bucket/remote_s3.config'