params {
    local_val = "foo1"
}


// for public git repository
includeConfig "https://raw.githubusercontent.com/stevekm/nextflow-demos/master/S3-GitHub-configs/remote.config"

// for private git repository
// includeConfig 'https://raw.githubusercontent.com/some-gitrepository/nextflow-test/master/remote.config?token=git_random_token'