// custom email using workflow completion handler

workflow.onComplete = {
    println "----- onComplete FINISHED -----"

    // build email message from template file, manually
    // https://github.com/UMCUGenetics/DxNextflowWES/blob/f7e9d2f2e687c42ca123d5ffc614f09b1901c7cf/WES.nf#L267
    def template = new File("templates/custom-onComplete-template.html")
    def binding = [
        params: params,
        workflow: workflow
    ]
    def engine = new groovy.text.GStringTemplateEngine()
    def email_html = engine.createTemplate(template).make(binding).toString()

    // Send email
    // https://github.com/nextflow-io/nextflow/blob/832bff241f64cc3ce9b4cdc794a58d1664c0933c/modules/nextflow/src/main/groovy/nextflow/script/WorkflowNotifier.groovy#L101
    nextflow.Nextflow.sendMail(
        to: "${params.emailTo}",
        from: "${params.emailFrom}",
        subject: "CUSTOM Workflow completion [${workflow.runName}] - ${workflow.success ? 'SUCCEED' : 'FAILED'}",
        body: email_html,
    )

}


