// this one uses the default Nextflow Notification email
// https://www.nextflow.io/docs/latest/mail.html

// pass all these from the command line

// nextflow run main.nf --emailTo ... --emailFrom ... --smtpHost ... --smtpPort ... --smtpUser ... --smtpPassword ... --smtpProtocols ...

// NOTE: consider using "secrets" for some of these; https://www.nextflow.io/docs/latest/secrets.html#secrets

params {
    emailFrom = 'nextflow@server.com'
    emailTo = "" // if this is not supplied, no emails will be sent
    smtpHost = ""
    smtpPort = ""
    smtpUser = ""
    smtpPassword = ""
    smtpProtocols = ""
}


mail {
    from = "${params.emailFrom}"
    smtp.host = "${params.smtpHost}"
    smtp.port = "${params.smtpPort}"
    smtp.user = "${params.smtpUser}"
    smtp.password = "${params.smtpPassword}"
    smtp.ssl.protocols = "${params.smtpProtocols}"
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
}

// the default notification email
notification {
    enabled = true
    to = "${params.emailTo}"
    from = "${params.emailFrom}"
}
