profiles {
    docker {
        // https://www.nextflow.io/docs/latest/process.html#container
        // https://www.nextflow.io/docs/latest/process.html#containeroptions
        // https://www.nextflow.io/docs/latest/config.html#scope-docker
        docker.enabled = true
        process.container = 'nf-demo'
        process.containerOptions = "--platform linux/amd64"
    }
    singularity {
        // https://www.nextflow.io/docs/latest/config.html#scope-singularity
        singularity.enabled = true
        process.container = 'container.sif'
        singularity.autoMounts = true
        // https://github.com/conda-forge/r-base-feedstock/issues/37
        process.beforeScript = "unset R_LIBS; unset R_LIBS_USER"
    }
}
