profiles {
    docker {
        // https://www.nextflow.io/docs/latest/process.html#container
        // https://www.nextflow.io/docs/latest/process.html#containeroptions
        // https://www.nextflow.io/docs/latest/config.html#scope-docker
        docker.enabled = true
        process.container = 'continuumio/miniconda3:4.7.12'
        process.containerOptions = "--platform linux/amd64"
    }
    singularity {
        // https://www.nextflow.io/docs/latest/config.html#scope-singularity
        singularity.enabled = true
        process.container = 'alpine.3.8.simg'
        singularity.autoMounts = true
    }
}
