import nextflow.util.MemoryUnit
import nextflow.util.Duration

params.memory = "1GB"
params.time = "10m"
params.maxRetries = "3"
params.errorStrategy = 'retry'

process {
    memory = { new MemoryUnit(params.memory) * task.attempt }
    time = { new Duration(params.time) * task.attempt }
    errorStrategy = params.errorStrategy
    maxRetries = params.maxRetries.toInteger()
}
