profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'alpine.3.8.simg'
        process.$demo.beforeScript = 'export NTHREADS=4'
    }
    bigpurple { // for NYU Big Purple HPC
        process.module = "singularity/2.5.2"
    }
}
