profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.envWhitelist = 'NTHREADS'
        process.container = 'alpine.3.8.simg'
        process.$demo.beforeScript = 'export NTHREADS=4'
    }
    bigpurple { // for NYU Big Purple HPC
        process.module = "singularity/2.5.2"
    }
    slurm { // for NYU Big Purple HPC
        process.executor = "slurm"
        process.queue = "cpu_short" // up to 12hrs
    }
}
