// base config file
// https://www.nextflow.io/docs/latest/config.html?highlight=withname#selectors-priority

process {
    tag = "nextflow.config (generic)"
    memory = 9.MB
    time = "9m"

    withName: run_task {
        tag = "nextflow.config (withName)"
        memory = 10.MB
        time = "10m"
    }
}
