workDir = 's3://my-bucket/work'

aws {
    region = 'us-east-1'
    batch {
        cliPath = "/home/ec2-user/miniconda/bin/aws"
    }
}

process {
    cache = 'lenient'
    executor = 'awsbatch'
    queue = 'job-queue-goes-here'
    container = "public.ecr.aws/amazonlinux/amazonlinux:2.0.20230504.1" // https://gallery.ecr.aws/amazonlinux/amazonlinux
    // container = "job-definition://job-1"
    // container = "public.ecr.aws/aws-cli/aws-cli:2.11.21"

    // sleep time is in milliseconds; 1000 = 1s, 10000 = 10s
    errorStrategy = {sleep(task.attempt * 10000); task.attempt <= 2 ? 'retry' : 'terminate' }
    maxRetries = 2

    cpus = 2
    memory = { 1.GB * task.attempt }
}

// Requires Nextflow Tower and 'export TOWER_WORKSPACE_ID=12345'
// wave {
//    enabled = true
//    endpoint = 'https://wave.seqera.io'
// }

// fusion {
//    enabled = true
// }
