params {
    workDir = "s3://foo-bucket"
    queue = "my-job-queue"
    // jobRole = "arn::something"
}

// this must be an S3 bucket if using AWS Batch
workDir = "${params.workDir}"

aws {
    region = 'us-east-1'
    batch {
        cliPath = "/home/ec2-user/miniconda/bin/aws"
        // jobRole = "${params.jobRole}"
    }
}

process {
    cache = 'lenient'
    executor = 'awsbatch'
    queue = "${params.queue}" // the AWS queue name
    // container = "public.ecr.aws/amazonlinux/amazonlinux:2.0.20230504.1" // https://gallery.ecr.aws/amazonlinux/amazonlinux
    // container = "job-definition://job-1"
    // container = "public.ecr.aws/aws-cli/aws-cli:2.11.21"

    // sleep time is in milliseconds; 1000 = 1s, 10000 = 10s
    errorStrategy = {sleep(task.attempt * 10000); task.attempt <= 2 ? 'retry' : 'terminate' }
    maxRetries = 2

    cpus = 2
    memory = { 1.GB * task.attempt }
}


// Requires Nextflow Tower and 'export TOWER_WORKSPACE_ID=12345'
// wave {
//    enabled = true
//    endpoint = 'https://wave.seqera.io'
// }
//
// fusion {
//    enabled = true
// }
