params {
    outdir = "output"
    val1 = "foo"
    val2 = "bar"
}

docker.enabled = true

manifest {
    name            = 'workflow-summary-demo'
    author          = 'Stephen Kelly'
    homePage        = 'https://github.com/stevekm/nextflow-demos'
    description     = 'Workflow Summary Report Demo Pipeline'
    mainScript      = 'main.nf'
}